 /* padding: up right down left*/

 /* общее правила  */
 .root {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-text-fill: black;
} 
.button {
    -fx-background-color: #33993a;
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: #33993a;
}
.button:pressed {
    -fx-background-color: #33993a;
}
/*                                        */
/*                  HEAD                  */
/*                                        */
.hbox-head {
    -fx-background-color: white;
}
.program-img {
    -fx-fit-height: 25px;
    -fx-fit-width: 25px;
}
.program-title {
    -fx-text-fill: black;
    -fx-font-size:14px;
    -fx-padding: 0px 0px 0px 10px;
}
.hbox-head-right {
    -fx-padding: 0px;
    -fx-spacing: 0px;
    -fx-alignment: center-right;
}
.head-close {
    -fx-pref-width: 45px;
    -fx-pref-height: 30px;
    -fx-background-radius: 0; 
    -fx-alignment: center;
}
.head-close:hover {
    -fx-background-color: red; 
}
.head-close:pressed {
    -fx-background-color: #f1707a; 
}
.head-close-img {
    -fx-fit-height: 13px;
    -fx-fit-width: 13px;
}
.head-element {
    -fx-pref-width: 45px;
    -fx-pref-height: 30px;
    -fx-background-radius: 0; 
    -fx-alignment: center;
}
.head-element:hover {
    -fx-background-color: #e5e5e5; 
}
.head-element:pressed {
    -fx-background-color: #a2a2a2; 
}
.head-maximize-img {
    -fx-fit-height: 13px;
    -fx-fit-width: 13px;
}
.head-minimize-img {
    -fx-fit-height: 11px;
    -fx-fit-width: 11px;
}
/*                                        */
/*                TOOLBAR                 */
/*                                        */
.hbox-top {
    -fx-background-color: #f0f0f0;
    -fx-pref-height: 46px;
    -fx-max-height: 46px;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #d7d7d7;
}
.toolbar-tools {
    -fx-spacing: 5px;
}
.hbox-top-browser {
    -fx-spacing: 5px;
}

.tools-element{
    -fx-alignment: center;
    -fx-min-width: 60px;
}
.tools-element-icon {
    -fx-fit-height: 15px;
    -fx-fit-width: 15px;
}
.tools-element-icon-browser {
    -fx-fit-height: 25px;
    -fx-fit-width: 25px;
}
.tools-element-label {
    -fx-text-fill:black;
}
.tools-element:hover{
    -fx-background-color: #cacacb;
}
.centerContainer {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
.hbox-top .button {
    -fx-padding: 0px 0px 0px 0px;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 15px;
    -fx-min-width: 50px;
    -fx-font-size: 16px;
}
.button-working {
    -fx-background-color: #33993a;
}
.button-working:hover {
    -fx-background-color: #1c5820;
}
.button-working:pressed {
    -fx-background-color: #0096c9;
}
/*                                        */
/*                 LEFT                   */
/*                                        */
.vbox-left {
    -fx-background-color: transparent;
    -fx-background: transparent;

}
.vbox-left-content {
    -fx-text-fill: black;
    -fx-background-color: #f0f0f0;
    -fx-min-width: 225px;
    -fx-max-width: 225px;
    -fx-border-style: solid;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: #d7d7d7;
}
.vbox-left-content .label {
    -fx-text-fill: black;
}

.visible-left-img {
    -fx-fit-height: 15px;
    -fx-fit-width: 15px;
}
.visible-left {
    -fx-min-width: 15px;
    -fx-max-width: 15px;
    -fx-background-color: #f0f0f0;
    -fx-border-style: solid;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: #d7d7d7;
}
/*                                        */
/*                 RIGHT                  */
/*                                        */
.vbox-right {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
.vbox-right-content {
    -fx-min-width: 225px;
    -fx-max-width: 225px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-spacing: 10px;
    -fx-background-color: #f0f0f0;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 0px 1px;
    -fx-border-color: #d7d7d7;
    -fx-alignment: top-center;
}
.vbox-right-content .label {
    -fx-text-fill: black;
}
.accardion {
    -fx-max-width: 190px;
}
.area-property {
    -fx-wrap-text: true;
    -fx-max-height: 110px;
}
.vbox-right-content .button {
    -fx-background-color: #0096c9;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 3px;
    -fx-translate-x: 65px;
}
.vbox-right-content .button:hover {
    -fx-background-color: #026383;
}
.vbox-right-content .label {
    -fx-color: #464746;
}
.hbox-bottom {
    -fx-min-height: 20px;
    -fx-background-color: #e5e5e5;
    
}
.visible-right-img {
    -fx-fit-height: 15px;
    -fx-fit-width: 15px;
}
.visible-right {
    -fx-alignment: center-right;
    -fx-min-width: 15px;
    -fx-max-width: 15px;
    -fx-background-color: #f0f0f0;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 0px 1px;
    -fx-border-color: #d7d7d7;
}
/*                                        */
/*                 BOTTOM                 */
/*                                        */
.condition {
    -fx-text-fill: black;
}
.element-bottom {
    -fx-padding: 0px 25px 0px 25px;
}