.root {
    -fx-min-height: 300px;
    -fx-min-width: 600px;
    -fx-font-size: 16px;
} 
.hbox-top {
    -fx-padding: 10px 75px 10px 75px;
    -fx-spacing: 125px;
    -fx-border-width: 0px 0px 1px 0px; 
    -fx-border-color: #000000;
}
.hbox-top .button {
    -fx-background-color: #33993a;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 15px;
    -fx-min-width: 50px;
}
.hbox-top .button:pressed {
    -fx-background-color: #339979;
}

.vbox-left {
    -fx-max-width: 150px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: #c7cc5e;
    -fx-border-width: 0px 1px 0px 0px; 
    -fx-border-color: #000000;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.copy-text {
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-wrap-text: true;
    -fx-max-height: 50px;
}

.copy-text .scroll-pane {
    -fx-background-color: transparent;
}

.copy-text .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.copy-text .scroll-pane .content{
    -fx-background-color: transparent;
}

.vbox-right {
    -fx-max-width: 300px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-alignment: center;
    -fx-spacing: 15px;
    -fx-border-width: 0px 0px 0px 1px; 
    -fx-border-color: #000000;
}
.vbox-right .label {
    -fx-wrap-text: true;
}
.vbox-right .textArea {
    -fx-wrap-text: true;
}
.vbox-right .textArea:focused {
    -fx-border-color: #2bf12e;
}
.vbox-right .button:hover {
    -fx-background-color: #b2c5de;
    -fx-border-color: #000000;
    -fx-border-width: 0.5px; 
    -fx-border-radius: 3px;
}

.vbox-center {
    -fx-background-color: #cc7d5e;
    -fx-max-width: 100px;
    -fx-max-height: 50px;
    -fx-alignment: center;
    -fx-rotate: -45;
}